{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div>
  <a class="btn btn-sm btn-primary m-2" href="{% url 'edit_profile' %}"
    >Edit your profile</a
  >
</div>
<div class='div bg-info text-center'>
  <h1>BUY CAR STORE PAGE</h1>
</div>
<div class="mb-4 text-center">
    <h4>You've purchased brand new {{ data | length }} cars!!</h4>
  </div>
<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
  {% for car in data %}
  <div class="col-sm-3">
    <div class="card mx-2">
      <img src="{{car.image.url}}" alt="an image" />
      <div class="card-body">
        <h5 class="card-title">{{car.title}}</h5>
        <b>Price: ${{car.price}}</b>
        <p class="card-text">{{car.content | truncatewords:15}}</p>
        <p class="fw-bold">Brand: {{car.brand.name}}</p>
      
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
